@using System.Threading.Tasks
@using SyncthingWeb.Extensions
@model DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-folder-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Folders</span>
                <span class="info-box-number">@Model.Folders</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-share-square-o"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Shared</span>
                <span class="info-box-number">@Model.Shared</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="clearfix visible-sm-block"></div>

    @*<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sales</span>
                    <span class="info-box-number">760</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Members</span>
                    <span class="info-box-number">2,000</span>
                </div>
            </div>
        </div>*@
</div>

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <h3>Folders</h3>
    </div>
</div>
@if (Model.FoldersId.Any())
{
    var directoriesGrouped = Model.FoldersId.DivideIntoRows(3);


    foreach (var dirRow in directoriesGrouped.Select(d => d.ToList()))
    {
        <div class="row">
            @for (var i = 0; i < 4; i++)
            {

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

                    @if (i < dirRow.Count)
                    {
                        var dir = dirRow[i];

                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-folder-open-o"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Folder name</span>
                                <a href="@Url.Action("Index", "Home", new {id = dir.Id, area = "Folders"})" class="info-box-number">@dir.Id</a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <p>It's lonely here - you have not folders allowed.</p>
                </div>
            </div>
        </div>
    </div>
}