
@model GeneralSettings

@{
    ViewBag.Title = "Global configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Configuration" asp-controller="Home" asp-area="Setup" asp-antiforgery="true">
    
    <div class="row">
        <div class="col-xs-12 col-md-12 col-xs-12 col-sm-12">
            <div class="box box-info">
                <div class="box-header">
                    <h4>General</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Website root url (leave empty to determine automatically, but may broken f.e. website is behind proxy)</label>
                        <input asp-for="RootUrl" class="form-control" placeholder="f.e. mydomain.com" />
                        <span asp-validation-for="RootUrl"></span>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="pull-right btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-xs-12 col-sm-12">
            <div class="box box-info">
                <div class="box-header">
                    <h4>Syncthing</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Syncthing endpoint address</label>
                        <input asp-for="SyncthingEndpoint" class="form-control" placeholder="f.e. http://localhost:8384" />
                        <span asp-validation-for="SyncthingEndpoint"></span>
                    </div>
                    <div class="form-group">
                        <label>Syncthing API key</label>
                        <input asp-for="SyncthingApiKey" class="form-control" />
                        <span asp-validation-for="SyncthingApiKey"></span>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="pull-right btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12 col-xs-12 col-sm-12">
            <div class="box box-info">
                <div class="box-header">
                    <h4>Users</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label><input type="checkbox" asp-for="EnableRegistration"/> Enable registration</label>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="pull-right btn btn-primary">Save</button>
                </div>

            </div>
        </div>
    </div>
</form>