@using System.Threading.Tasks
@using SyncthingWeb.Areas.Setup.Models
@model SyncthingWeb.Areas.Setup.Models.SafeUpgradeVIewModel

@{
    ViewBag.Title = "Setup";
    Layout = "~/Views/Shared/_SetupLayout.cshtml";   
}
<div class="login-box-body">
    <p class="login-box-msg">Provide base info for your site</p>

    <form asp-action="SafeUpgrade" asp-controller="Home" method="post" asp-antiforgery="true">

        <div class="form-group has-feedback">
            <input asp-for="SyncthingEndpoint" placeholder="Syncthing endpoint address" class="form-control" type="text" />
            <p>Example: http://localhost:8384</p>
        </div>

        <div class="form-group has-feedback">
            <input asp-for="SyncthingApiKey" placeholder="Syncthing API key" class="form-control" type="text" />
            <p>Open settings in Syncthing GUI in order to determine your current key or to generate a new one.</p>
        </div>

        <div class="row">
            <div class="col-xs-8">
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

</div>